@charset "UTF-8";
$morning_cor1:   #c01e2f;
$morning_cor2:   #fff;
$morning_cor3:   #eeebeb;
$morning_cor4:   #a9a9a2;
$morning_cor5:   #434341;
$morning_cor6:   #fbb21a;
$morning_cor7:   #1e88e2;


$night_cor1:     #99222c;
$night_cor2:     #2c2c2c;
$night_cor3:     #1f1f1f;
$night_cor4:     #5a5a5f;
$night_cor5:     #959595;
$night_cor6:     #915e05;
$night_cor7:     #3c678c;
